<ng-container *ngIf="historyItemList && isDataLoaded; else dataLoaderElse">
  <ng-container *ngFor="let post of historyItemList[0]?.postList as postList; let i = index">
    <app-post-card
      [postItem]="post"
      [itemOrder]="i"
      [postLimit]="postList.length"
      (cardOrderChangeEmitter)="onCardOrderChange($event, postList)">
    </app-post-card>
  </ng-container>
</ng-container>


<!--------------Data loader-------------->
<ng-template #dataLoaderElse>
  <div>
    <div class="w-16 h-16 border-4 border-blue-400 border-dashed rounded-full animate-spin text-center"></div>
  </div>
</ng-template>

